
/* Ensures the image is contained and doesn't overflow */
.card-people img {
  width: 120%;
  height: auto;
  object-fit: cover; /* This makes sure the image covers the space */
  max-width: 100%; /* Ensures the image doesn't stretch beyond the card */
  border-radius: 10px; /* Optional: to give a nice border radius if needed */
}
.card.tale-bg {
  background: #dae7ff;
  margin-top: 10px;
  margin-left: 10px;
}
.card.card-weather .weather-daily .weather-day {
  opacity: 0.5;
  font-weight: 900;
}
.card.card-weather .weather-daily i {
  font-size: 20px;
}
.card.card-weather .weather-daily .weather-temp {
  margin-top: 0.5rem;
  margin-bottom: 0;
  opacity: 0.5;
  font-size: 0.75rem;
}
.card.card-tale {
  margin-top: 5px;
  background: #7da0fa;
  color: #ffffff;
  margin-left: 10px;
}
.card.card-tale:hover {
  background: #96b2fb;
}
.card.card-dark-blue {
  background: #4747a1;
  color: #ffffff;
  margin-left: 10px;
}
.card.card-dark-blue:hover {
  background: #5050b2;
}
.card.card-light-blue {
  background: #7978e9;
  color: #ffffff;
  margin-left: 10px;
}
.card.card-light-blue:hover {
  background: #8f8eed;
}
.card.card-light-danger {
  background: #f3797e;
  color: #ffffff;
  margin-left: 10px;
}
.card.card-light-danger:hover {
  background: #f59095;
}

.card-columns .card {
  margin-bottom: 0.75rem;
}
h3,
h6 {
  margin-left: 10px;
  margin-top: 10px;
}
